<h1>All Articles</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
    	<%= link_to post.title, post_path(post), :class => 'post_title', :id => "post_#{post.id}" %><br>
            <% if post.img? %>
                <%= image_tag post.img.url(:thumb) %>
            <% end %>
    	<p>By: <%= post.author  %>, <%= post.created_at.strftime("%m/%d/%Y") %> <%= post.created_at.strftime("At %I:%M%p") %></p>	

    	<p> 
    		<%= truncate(post.body, :length => 500, :separator => ' ', :omission => '... ' ) %>
    		<%= link_to "(continued)", post_path(post), :class => 'post_title', :id => "post_#{post.id}" %>
    	</p>
    </li>
  <% end %>
</ul>