<h1><%= @post.title %></h1>
<p>By: <%= @post.author  %> / <%= @post.created_at %></p>
<p><%= @post.body %></p>
<ul>
	<li>
		<%= link_to "edit", edit_post_path(@post) %>
	</li>
	<li>
		<%= link_to "delete", post_path(@post), :method =>:delete, :confirm => "Reallu delete this article"%>
	</li>
</ul>
<%= render :partial => 'comment', :collection => @post.comments %>
<%= render :partial => 'comments_form' %>