<!DOCTYPE html>
<html>
<head>
  <title>NewBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="lower_header">
	<div class ="header_paths">
	<ul class="header_links">
		<li><%= link_to "Home", root_path, :class => current_page?(root_path) ? "header_link_current" : "a" %> /</span></li>
		<li><%= link_to "Tags", tags_path, :class => current_page?(tags_path) ? "header_link_current" : "a" %>  /</span></li>
		<li><%= link_to "About", about_path, :class => current_page?(about_path) ? "header_link_current" : "a" %> /</span></li>
		<li><%= link_to "Contact", contact_path, :class => current_page?(contact_path) ? "header_link_current" : "a" %> </li>
	</ul>
</form>
</div>
</header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="field">
		<%= yield %>
    <div class="side_bar">
    	<div class= "side_bar_contaner">
	   		<div class= "side_bar_bio">
	   						<img src="/img/face.jpeg" alt="face" class="face"/>
	   						<div class="socal_bar">
	   							<img src="/img/facebook.png" alt="facebook" class="socal_facebook"/>
	   							<img src="/img/twitter.png" alt="twitter" class="social_twitter"/>
	   							<img src="/img/google.png" alt="google" class="social_google"/>
	   							<img src="/img/rss.png" alt="rss" class="social_rss"/>
	   						</div>	
	   		</div>	
   		</div>
    </div>
  </div>

<div class="clearboth"></div>

	<footer>
		<div class="footer_banner">
		<div = class="footer_content">
		</div>	
		</div>
	</footer>

</body>
</html>
