<!DOCTYPE html>
<html>
<head>
  <title>NewBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="lower_header">
	<div class ="header_paths">
	<ul class="header_links">
		<li><a href="#">Home</a><span class= "devider"> /</span></li>
		<li><a href="#">Tags</a><span class= "devider"> /</span></li>
		<li><a href="#">About</a><span class= "devider"> /</span></li>
		<li><a href="#">Contact</a></li>
	</ul>
</form>
</div>
</header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="field">
		<%= yield %>
    <div class="side_bar">
    	<div class= "side_bar_contaner">
	   		<div class= "side_bar_bio">
	   		</div>	
   		</div>
    </div>
  </div>

<div class="clearboth"></div>

	<footer>
		<div class="footer_banner">
		<div = class="footer_content">

		</div>	
		</div>
	</footer>

</body>
</html>
